name: Build ScanSavvy

on:
  push:
    branches:
      - feature/ios
  pull_request:
    branches:
      - feature/ios

jobs:
  ios:
    name: Build for iOS
    runs-on: macos-latest

    steps:
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install Dependencies
      run: |
        npm install &
        bundle install &
        wait

    - name: Install Apple Distribution Certificate
      run: |
        echo -n "${{ secrets.APPLE_DISTRIBUTION_CERTIFICATE }}" | base64 --decode -o "$RUNNER_TEMP/build.p12"
        security create-keychain -p "${{ secrets.APPLE_KEYCHAIN_PASSWORD }}" "$RUNNER_TEMP/signing.keychain-db"
        security set-keychain-settings -lut 7200 "$RUNNER_TEMP/signing.keychain-db"
        security unlock-keychain -p "${{ secrets.APPLE_KEYCHAIN_PASSWORD }}" "$RUNNER_TEMP/signing.keychain-db"
        security import "$RUNNER_TEMP/build.p12" -k "$RUNNER_TEMP/signing.keychain-db" -f pkcs12 -A -T /usr/bin/codesign -T /usr/bin/security -P "${{ secrets.APPLE_DISTRIBUTION_CERTIFICATE_PASSWORD }}"
        security list-keychain -d user -s "$RUNNER_TEMP/signing.keychain-db"

    - name: Install Apple Provisioning Profile
      run: |
        mkdir -p $HOME/Library/MobileDevice/Provisioning\ Profiles
        echo -n "${{ secrets.APPLE_PROVISIONING_PROFILE }}" | base64 --decode -o "$HOME/Library/MobileDevice/Provisioning\ Profiles/Scan_Savvy_Distribution.mobileprovision"

    - name: Build # v${{ steps.git_version.outputs.fullSemVer }}
      env:
        FASTLANE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
        FL_PROJECT_PROVISIONING_PROFILE_FILE: "$HOME/Library/MobileDevice/Provisioning\ Profiles/Scan_Savvy_Distribution.mobileprovision"
      run: bundle exec fastlane ios build
